<template>
  <div>
    <ul
      class="w-full h-12 md:h-16 flex flex-wrap md:flex-no-wrap mb-4 bg-white shadow-lg"
      role="tablist"
    >
      <li
        v-for="(tab, index) in tabs"
        :key="index"
        class="w-full h-full flex justify-center items-center"
        :class="{
          'border-b-3 border-blue-wpt': tab.isActive,
          'border-b border-gray-wpt': !tab.isActive,
        }"
      >
        <button
          :class="{
            'text-primary': tab.isActive,
            'text-gray-wpt opacity-50': !tab.isActive,
          }"
          class="w-full h-full px-4 py-2 uppercase font-bold text-2xl focus:outline-none"
          role="tab"
          :aria-selected="tab.isActive"
          @click="activeTab = tab"
          v-text="tab.title"
        ></button>
      </li>
    </ul>

    <slot></slot>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tabs: [],
      activeTab: null,
    }
  },
  watch: {
    activeTab(activeTab) {
      this.tabs.forEach((tab) => (tab.isActive = tab === activeTab))
    },
  },
  mounted() {
    this.tabs = this.$children
    // .filter(child => child.$options.name === 'Tab')
    this.setInitialActiveTab()
  },
  methods: {
    setInitialActiveTab() {
      this.activeTab = this.tabs.find((tab) => tab.active) || this.tabs[0]
    },
  },
}
</script>
