<template>
  <nuxt-link
    :to="url"
    class="block max-w-6xl px-12 py-4 font-bold text-white uppercase transition duration-500 ease-in-out bg-red-mennuni hover:bg-red-mennuni-dark hover:text-gray-200 hover:shadow-lg"
  >
    {{ $t('more') }}
  </nuxt-link>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      default: '',
    },
  },
}
</script>

<i18n lang="yaml">
en:
  more: 'Find more'
it:
  more: 'Scopri di più'
</i18n>
