<template>
  <div
    class="flex items-center cursor-pointer focus:outline-none lg:hidden w-6 h-6 z-50"
    :class="{
      'is-active fixed': isActive,
    }"
    @click="$emit('click')"
  >
    <div
      class="bar relative w-full h-2px transition duration-500 ease-in-out"
      :class="[isActive ? 'bg-transparent' : 'bg-red-mennuni']"
    ></div>
  </div>
</template>

<script>
export default {
  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss" scoped>
.bar {
  &::before,
  &::after {
    content: '';
    @apply absolute w-full h-full inset-x-0 bg-red-mennuni transition-all duration-500 ease-in-out;
  }
  &::before {
    top: -6px;
  }
  &::after {
    bottom: -6px;
  }
}
.is-active {
  .bar {
    &::before,
    &::after {
      @apply bg-secondary;
    }
    &::before {
      transform: rotate(45deg);
      @apply top-0;
    }
    &::after {
      transform: rotate(-45deg);
      @apply bottom-0;
    }
  }
}
</style>
