<template>
  <button
    class="block max-w-6xl px-12 py-4 font-bold text-white uppercase transition duration-500 ease-in-out bg-red-mennuni hover:bg-red-mennuni-dark hover:text-gray-200 hover:shadow-lg"
    type="submit"
    :name="name"
    @click="$emit('click')"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: '',
    },
  },
}
</script>
