<template>
  <default-field
    :name="name"
    :label="label"
    :required="required"
    :validate="validate"
    :messages="messages"
    :only-show="onlyShow"
    :show-value="showValue"
  >
    <template #field>
      <input
        v-show="!onlyShow"
        :id="name"
        :name="name"
        type="checkbox"
        :checked="$attrs.value"
        :required="required"
        v-bind="$attrs"
        @change="$emit('input', $event.target.checked)"
        @focus="$emit('focus', $event.target.checked)"
        @blur="$emit('blur', $event.target.checked)"
      />
      <label :for="name" class="pl-1 font-semibold">
        <slot></slot>
        <span v-if="required"> *</span>
      </label>
    </template>
  </default-field>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      default: '',
    },
    required: {
      type: Boolean,
      default: false,
    },
    validate: {
      type: Boolean,
      default: true,
    },
    messages: {
      type: Object,
      default: () => {},
    },
    onlyShow: {
      type: Boolean,
      default: false,
    },
    showValue: {
      type: String,
      default: '',
    },
  },
  computed: {
    state() {
      return this.$parent.fieldstate
    },
    invalid() {
      return this.state
        ? this.state.$invalid && (this.state.$touched || this.state.$submitted)
        : false
    },
    valid() {
      return this.state
        ? this.state.$valid && (this.state.$touched || this.state.$submitted)
        : false
    },
  },
}
</script>
