<template>
  <default-field
    :name="name"
    :label="label"
    :required="required"
    :validate="validate"
    :messages="messages"
    :only-show="onlyShow"
    :show-value="showValue"
  >
    <template #field>
      <vue-flat-pickr
        v-show="!onlyShow"
        :id="$attrs.name"
        :name="name"
        :required="required"
        class="block w-full h-10 p-1 pt-3 text-lg italic leading-tight border-b-2 appearance-none"
        :class="{
          'border-red-500': invalid,
          'border-blue-wpt': valid,
        }"
        v-bind="$attrs"
        :config="config"
        @input="$emit('input', $event)"
        @focus="$emit('focus', $event.target.value)"
        @blur="$emit('blur', $event)"
      ></vue-flat-pickr>
    </template>
  </default-field>
</template>

<script>
import VueFlatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'

export default {
  components: {
    VueFlatPickr,
  },
  inheritAttrs: false,
  props: {
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      default: '',
    },
    required: {
      type: Boolean,
      default: false,
    },
    validate: {
      type: Boolean,
      default: true,
    },
    messages: {
      type: Object,
      default: () => {},
    },
    onlyShow: {
      type: Boolean,
      default: false,
    },
    showValue: {
      type: String,
      default: '',
    },
  },
  computed: {
    config() {
      return {
        locale:
          this.$i18n.locale !== 'en'
            ? require(`flatpickr/dist/l10n/${this.$i18n.locale}.js`).default[
                this.$i18n.locale
              ]
            : 'en',
        disableMobile: 'true', // Bug with v-show
      }
    },
    state() {
      return this.$parent.fieldstate
    },
    invalid() {
      return this.state
        ? this.state.$invalid && (this.state.$touched || this.state.$submitted)
        : false
    },
    valid() {
      return this.state
        ? this.state.$valid && (this.state.$touched || this.state.$submitted)
        : false
    },
  },
}
</script>

<style lang="scss">
.flatpickr-calendar {
  .flatpickr-day.selected {
    &.selected {
      background-color: theme('colors.blue-wpt');
      border-color: theme('colors.blue-wpt');
      &:hover {
        background-color: theme('colors.yellow-wpt');
        color: theme('colors.blue-wpt');
      }
    }
    &.today {
      border-color: theme('colors.blue-wpt');
    }
  }
}
</style>
