<template>
  <div>
    <label v-if="label" :for="name" class="block mb-2 text-white uppercase">
      {{ label }}
      <span v-if="required"> *</span>
    </label>
    <div
      v-if="onlyShow"
      :id="name"
      class="w-full h-10 p-1 pt-3 text-lg leading-tight"
    >
      {{ showValue }}
    </div>
    <slot name="field" />
    <div v-if="validate" class="flex flex-col w-full h-10 my-1">
      <field-errors
        v-if="hasValidation"
        show="$touched || $submitted"
        :name="name"
        :messages="messages"
      ></field-errors>
      <div class="text-sm italic text-gray-wpt-medium">
        {{ helpText }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      default: '',
    },
    helpText: {
      type: String,
      default: '',
    },
    required: {
      type: Boolean,
      default: false,
    },
    validate: {
      type: Boolean,
      default: true,
    },
    messages: {
      type: Object,
      default: () => {},
    },
    onlyShow: {
      type: Boolean,
      default: false,
    },
    showValue: {
      type: String,
      default: '',
    },
  },
  computed: {
    hasValidation() {
      return !this.onlyShow && this.validate
    },
  },
}
</script>
