<template>
  <field-messages
    class="text-xs italic"
    :show="$attrs.show"
    :name="$attrs.name"
  >
    <!-- <span>OK</span> -->
    <span
      v-for="(message, key) in allMessages"
      :key="key"
      :slot="key"
      class="text-red-500"
    >
      {{ message }}
    </span>
  </field-messages>
</template>

<script>
export default {
  props: {
    messages: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    allMessages() {
      return {
        required: 'This field is required',
        email: 'Please input a valid email',
        phone: 'Please input a valid phone number',
        ...this.messages,
      }
    },
  },
}
</script>
