<template>
  <default-field
    role="radiogroup"
    :aria-labelledby="label"
    :name="name"
    :label="label"
    :required="required"
    :validate="validate"
    :messages="messages"
    :only-show="onlyShow"
    :show-value="showValue"
  >
    <template #field>
      <ul v-show="!onlyShow" :id="name" class="flex h-10 pt-3 pb-1">
        <li v-for="option in options" :key="option.label" class="mx-2">
          <label class="flex items-center">
            <input
              type="radio"
              :name="name"
              :value="option.value"
              :required="required"
              v-bind="$attrs"
              role="radio"
              :checked="$attrs.value === option.value"
              :aria-checked="$attrs.value === option.value"
              @change="$emit('input', $event.target.value)"
              @focus="$emit('focus', $event.target.value)"
              @blur="$emit('blur', $event.target.value)"
            />
            <span class="ml-2">
              {{ option.label }}
            </span>
          </label>
        </li>
      </ul>
    </template>
  </default-field>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      default: '',
    },
    required: {
      type: Boolean,
      default: false,
    },
    validate: {
      type: Boolean,
      default: true,
    },
    messages: {
      type: Object,
      default: () => {},
    },
    onlyShow: {
      type: Boolean,
      default: false,
    },
    showValue: {
      type: String,
      default: '',
    },
    options: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    state() {
      return this.$parent.fieldstate
    },
    invalid() {
      return this.state
        ? this.state.$invalid && (this.state.$touched || this.state.$submitted)
        : false
    },
    valid() {
      return this.state
        ? this.state.$valid && (this.state.$touched || this.state.$submitted)
        : false
    },
  },
}
</script>
