<template>
  <default-field
    :name="name"
    :label="label"
    :required="required"
    :validate="validate"
    :messages="messages"
    :only-show="onlyShow"
    :show-value="showValue"
  >
    <template #field>
      <select
        v-show="!onlyShow"
        :id="name"
        :name="name"
        :required="required"
        class="block w-full h-10 p-1 pt-3 text-lg italic leading-tight border-b-2"
        :class="{
          'border-red-500': invalid,
          'border-blue-wpt': valid,
          'text-gray-500': !$attrs.value,
        }"
        v-bind="$attrs"
        @input="$emit('input', $event.target.value)"
        @focus="$emit('focus', $event.target.value)"
        @blur="$emit('blur', $event.target.value)"
      >
        <option :value="null" class="text-gray-500">
          {{ $attrs.placeholder }}
        </option>
        <option
          v-for="option in options"
          :key="option.id"
          :value="option.id"
          class="text-primary"
        >
          {{ option.name }}
        </option>
      </select>
    </template>
  </default-field>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      default: '',
    },
    required: {
      type: Boolean,
      default: false,
    },
    validate: {
      type: Boolean,
      default: true,
    },
    messages: {
      type: Object,
      default: () => {},
    },
    onlyShow: {
      type: Boolean,
      default: false,
    },
    showValue: {
      type: String,
      default: '',
    },
    options: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    state() {
      return this.$parent.fieldstate
    },
    invalid() {
      return this.state
        ? this.state.$invalid && (this.state.$touched || this.state.$submitted)
        : false
    },
    valid() {
      return this.state
        ? this.state.$valid && (this.state.$touched || this.state.$submitted)
        : false
    },
  },
}
</script>
