<template>
  <div>
    <label v-if="label" :for="name" class="block mb-2 font-semibold">
      {{ label }}
    </label>
    <div :id="name" class="w-full h-10 p-1 pt-3 text-lg leading-tight">
      {{ value }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
  },
}
</script>
