<template>
  <div class="w-full h-full relative">
    <div
      :id="name"
      class="input empty absolute w-full left-0 bottom-0 pb-2 text-primary bg-transparent opacity-0 transition-opacity duration-300 ease-in-out"
    ></div>
    <label
      :for="name"
      class="absolute w-full left-0 bottom-0 pb-2 text-gray-wpt-medium truncate origin-left cursor-text pointer-events-none transition duration-300 ease-in-out"
    >
      {{ label }}
    </label>
    <div
      class="baseline absolute w-full h-px left-0 bottom-0 bg-gray-wpt-medium transition-colors duration-300 ease-in-out"
    ></div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
.input.focused,
.input:not(.empty) {
  @apply opacity-100;
}

.input.focused + label,
.input:not(.empty) + label {
  @apply text-primary cursor-default transform -translate-y-6;
}

.input.invalid + label {
  @apply text-red-500;
}

.input.focused + label + .baseline {
  @apply bg-primary;
}

.input.focused.invalid + label + .baseline {
  @apply bg-red-500;
}
</style>
