<template>
  <footer class="wrapper relative bg-red-mennuni">
    <div
      class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8"
    >
      <div
        class="flex flex-col md:flex-row flex-wrap justify-center -mx-5 -my-2"
      >
        <footer-menu class="text-white"></footer-menu>
      </div>
      <div class="flex justify-center items-center">
        <socials-menu class="mx-auto mt-8 text-white"></socials-menu>
      </div>
      <p class="mt-8 text-base leading-6 text-center text-white">
        {{ $t('copyright') }}
      </p>
    </div>
  </footer>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
// footer::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 100px;
//   // background: url('~/assets/img/icon_instagram.svg') no-repeat;
// }
</style>

<i18n lang="yaml">
en:
  copyright: 'Copyright 2020 Mennuni Real Estate. All rights reserved.'
it:
  copyright: 'Copyright 2020 Mennuni Real Estate. Tutti i diritti riservati.'
</i18n>
