<template>
  <nav class="relative z-10">
    <div class="wrapper h-32 pt-6">
      <div class="row items-center h-full px-8 md:px-0">
        <div class="col-6 flex items-center justify-start h-full lg:col-2">
          <nuxt-link
            :to="localePath('index')"
            exact
            class="block w-32 md:w-48 p-1"
          >
            <!-- <logo class="w-48 md:w-64"></logo> -->
            <img src="~/assets/img/logo.svg" alt="" />
          </nuxt-link>
        </div>
        <div class="col-8 hidden lg:block">
          <desktop-menu class="text-red-mennuni-scuro"></desktop-menu>
        </div>
        <div class="col-1 items-center justify-end hidden lg:flex">
          <socials-menu class="text-red-mennuni-scuro"></socials-menu>
        </div>
        <div class="col-1 justify-end hidden lg:flex">
          <translations-menu class="text-red-mennuni-scuro"></translations-menu>
        </div>
        <div
          class="col-2 flex items-center justify-end h-full offset-4 lg:hidden"
        >
          <hamburger
            class="z-50 flex items-center w-6 h-6 cursor-pointer focus:outline-none lg:hidden"
            :is-active="mobileShow"
            @click="mobileToggle"
          ></hamburger>
        </div>
      </div>
    </div>
    <mobile-menu
      :show="mobileShow"
      class="z-30 text-white lg:hidden bg-red-mennuni-scuro"
    ></mobile-menu>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      mobileShow: false,
    }
  },
  watch: {
    $route(to, from) {
      this.mobileShow = false
    },
  },
  methods: {
    mobileToggle() {
      this.mobileShow = !this.mobileShow
    },
  },
}
</script>
