<template>
  <div class="wrapper bg-red-700">
    <div class="grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:grid-cols-6 py-16">
      <servizio
        :title="$t('services.evaluation')"
        filename="valutazione.svg"
        :alt="$t('services.evaluation')"
      ></servizio>
      <servizio
        :title="$t('services.marketing')"
        filename="marketing.svg"
        :alt="$t('services.marketing')"
      ></servizio>
      <servizio
        :title="$t('services.documentation')"
        filename="documentazione.svg"
        :alt="$t('services.documentation')"
      ></servizio>
      <servizio
        :title="$t('services.consulenza')"
        filename="consulenza.svg"
        :alt="$t('services.consulenza')"
      ></servizio>
      <servizio
        :title="$t('services.contrattualistica')"
        filename="contrattualistica.svg"
        :alt="$t('services.contrattualistica')"
      ></servizio>
      <servizio
        :title="$t('services.ristrutturazioni')"
        filename="ristrutturazioni.svg"
        :alt="$t('services.ristrutturazioni')"
      ></servizio>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<i18n lang="yaml">
en:
  services:
    evaluation: 'Free evaluations'
    marketing: 'Real estate marketing'
    documentation: 'Drafting of lease agreements'
    consulenza: 'Purchase and sale negotiation consultancy'
    contrattualistica: 'Registration of leases'
    ristrutturazioni: 'Renovations'
it:
  more: 'Scopri di più'
  services:
    evaluation: 'Valutazioni gratuite'
    marketing: 'Marketing immobiliare'
    documentation: 'Documentazione'
    consulenza: 'Consulenza trattative'
    contrattualistica: 'Contrattualistica'
    ristrutturazioni: 'Ristrutturazioni'
</i18n>
