<template>
  <transition-group class="relative" tag="div" name="crossfade">
    <div
      v-for="(image, key) in images"
      v-show="key === index"
      :key="image.src"
      class="absolute w-full h-full inset-0 overflow-hidden"
    >
      <a
        class="block w-full h-full"
        :href="image.href"
        target="_blank"
        rel="noreferrer"
      >
        <picture>
          <source
            v-for="(src, screen) in image.srcs"
            :key="screen"
            :media="media(`${screen}`)"
            :srcset="src"
          />
          <img
            :src="image.src"
            alt=""
            class="w-full h-full object-cover object-center"
            :style="{ objectPosition: image.position }"
          />
        </picture>
      </a>
    </div>
  </transition-group>
</template>

<script>
import { theme } from '~tailwind.config'

export default {
  name: 'FadeImages',
  props: {
    images: {
      type: Array,
      default: () => [],
    },
    delay: {
      type: Number,
      default: 5000,
    },
    random: {
      type: Boolean,
      default: false,
    },
    randomStart: {
      type: Boolean,
      default: true,
    },
    indexStart: {
      type: Number,
      default: 0,
    },
  },

  fetch() {
    this.index = this.randomStart ? this.randomIndex() : this.indexStart
  },
  data() {
    return {
      index: this.indexStart,
    }
  },
  computed: {
    media() {
      return (screen) => `(min-width: ${theme.screens[screen]})`
    },
  },
  mounted() {
    this.$options.interval = setInterval(this.nextImage, this.delay)
  },
  beforeDestroy() {
    clearInterval(this.$options.interval)
  },
  methods: {
    randomIndex() {
      return Math.floor(Math.random() * this.images.length)
    },
    nextIndex() {
      return (this.index + 1) % this.images.length
    },
    nextImage() {
      this.index = this.random ? this.randomIndex() : this.nextIndex()
    },
  },
}
</script>

<style scoped lang="scss">
.crossfade-enter-active,
.crossfade-leave-active {
  transition: opacity 0.5s linear;
}
.crossfade-enter,
.crossfade-leave-active {
  opacity: 0;
}
</style>
