<template>
  <client-only placeholder="Loading...">
    <lightbox id="galleryLightbox" ref="lightbox" :images="images"></lightbox>
  </client-only>
</template>

<script>
import Lightbox from 'vue-my-photos'

export default {
  components: {
    Lightbox,
  },
  props: {
    images: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    show(url) {
      this.$refs.lightbox.show(url)
    },
  },
}
</script>
