<template>
  <div class="logo p-1" v-html="require('~/assets/img/logo.svg?include')"></div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.logo {
  max-width: 200px;
}
</style>
