<template>
  <div class="prefooterLogo flex justify-center py-32 relative">
    <img class="w-1/2 md:w-1/4 mr-2" src="~/assets/img/logo.svg" alt="" />
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.prefooterLogo {
  &::before {
    content: '';
    background: url('~assets/img/doppiotriangolo.svg') no-repeat bottom;
    background-size: 100%;
    position: absolute;
    top: -68px;
    left: 0;
    height: 68px;
    width: 100%;
  }
  &::after {
    content: '';
    background: url('~assets/img/doppiotriangoloRed.svg') no-repeat bottom;
    background-size: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 68px;
    width: 100%;
  }
}
</style>
