<template>
  <!-- <nuxt-link :to="url" class="w-full md:w-1/3"> -->
  <div class="col-span-1 flex flex-col justify-between px-8 mb-16 lg:mb-0">
    <img class="w-12 mx-auto" :src="image" alt="" />
    <span class="pt-4 uppercase text-white text-base text-center">{{
      title
    }}</span>
  </div>
  <!-- </nuxt-link> -->
</template>

<script>
const images = require.context('~/assets/img/servizi/', false)

export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    // link: {
    //   type: String,
    //   required: true,
    // },
    filename: {
      type: String,
      default: '',
    },
    // url: {
    //   type: String,
    //   default: '',
    // },
  },
  computed: {
    image() {
      return images(`./${this.filename}`)
    },
  },
}
</script>

<style lang="scss" scoped>
.logo {
  max-width: 200px;
}
</style>
