<template>
  <div>
    <app-header></app-header>
    <nuxt keep-alive></nuxt>
    <app-footer></app-footer>
  </div>
</template>

<script>
export default {
  // head() {
  //   return this.$nuxtI18nSeo()
  // },
}
</script>

<style lang="scss">
html {
  font-size: 16px;
  min-width: 320px;
  background: #f7f3f0;
  // antialiased: https://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
  @apply font-sans text-primary box-border;
}

*,
*::before,
*::after {
  @apply box-border m-0;
}

p {
  @apply font-sans text-primary mb-5;
  &:last-child {
    @apply mb-0;
  }
}

h1,
h2,
h3,
h4 {
  @apply font-serif my-2 leading-tight font-bold;
}

h1 {
  @apply mb-4 text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

small {
  @apply text-sm;
}

img {
  @apply max-w-full h-auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
