<template>
  <div>
    <slot v-if="dontWait"></slot>
    <div
      v-else-if="state.pending"
      class="h-48 flex justify-center items-center"
    >
      Loading {{ entityName }}...
    </div>
    <div v-else-if="state.error" class="h-48 flex justify-center items-center">
      Error while loading {{ entityName }}: {{ state.error.message }}
    </div>
    <slot v-else></slot>
  </div>
</template>

<script>
export default {
  props: {
    state: {
      type: Object,
      required: true,
    },
    dontWait: {
      type: Boolean,
      default: false,
    },
    entityName: {
      type: String,
      default: '',
    },
  },
}
</script>
