<template>
  <div class="-mt-32">
    <div class="wrapper w-full">
      <section class="relative z-0 w-full hero" style="height: 500px">
        <div class="flex flex-col justify-end h-full text-center text-white">
          <div class="w-full h-24 pt-4 font-bold bg-black bg-opacity-50">
            <h1 class="text-4xl uppercase">{{ page.title }}</h1>
          </div>
        </div>
      </section>
    </div>

    <section>
      <div class="wrapper py-16">
        <div class="w-full mx-auto md:w-8/12">
          <div>
            <h2>Mennuni Residential</h2>
            <a name="residential"></a>
            <p>
              {{ $t('expertise.residential') }}
            </p>
          </div>
          <div class="my-24">
            <a name="commercial"></a>
            <h2>Mennuni Commercial</h2>
            <p>
              {{ $t('expertise.commercial') }}
            </p>
          </div>
          <div class="mb-12">
            <a name="corporate"></a>
            <h2>Mennuni Corporate</h2>
            <p>
              {{ $t('expertise.corporate') }}
            </p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <barra-servizi></barra-servizi>
    </section>
    <section>
      <contact-hero class="wrapper"></contact-hero>
    </section>
    <section>
      <prefooter-logo class="wrapper"></prefooter-logo>
    </section>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, app }) {
    const page = await $content(app.i18n.locale, 'expertise').fetch()

    return {
      page,
    }
  },
  head() {
    return {
      title: this.page.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.page.description,
        },
      ],
    }
  },
  nuxtI18n: {
    paths: {
      en: '/expertise',
      it: '/aree-attivita',
    },
  },
}
</script>

<style scoped lang="scss">
.hero {
  background: url('~assets/img/imgAreeAttivita.jpg') no-repeat center center;
  background-size: cover;
}

.titolo-linea {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 160px;
    @apply bg-red-mennuni;
  }
}
.titolo-linea-dx {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4px;
    width: 160px;
    @apply bg-red-mennuni;
  }
}

.form-container {
  background: url('~assets/img/hero-form.jpg') no-repeat center center fixed;
  background-size: cover;
  &::after {
    content: '';
    background: url('~assets/img/doppiotriangolo.svg') no-repeat bottom;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: -1px;
    height: 68px;
    width: 101%;
  }
}
</style>

<i18n lang="yaml">
en:
  expertise:
    residential: 'Always trying to satisfy the most demanding customers to find and sell their home, Mennuni RE, carrys out intermediation between seller and buyer, concluding the deal in the best possible way. It offers a clear and timely evaluation following the trend of the real estate market and customer requests, as well as professional advice in all phases of the sale, from the assignment to the notarial deed, or the lease, concluding the operations at the best market price.'
    commercial: 'Mennuni RE is one of the first real estate agencies in Rome to offer a 360 degree advisory service on commercial properties. We assist companies in finding the right locations in Rome and throughout the national territory. It has always satisfied buyers of commercial real estate, selecting the assets most in line with the customer's research, carefully considering: location, risk factor and cap rate.'
    corporate: 'Mennuni RE has always distinguished itself in helping companies, professional firms, consulting firms and Embassies to find the office space they needed and at the best market conditions. For years it has been dealing with the management of the assets of large property owners and investment funds and it is proud to have always found serious and reliable conductors.'
it:
  expertise:
      residential: 'Da sempre alla ricerca di soddisfare i clienti più esigenti a trovare e vendere la propria casa, la Mennuni RE svolgendo attività di intermediazione tra venditore e acquirente cerca di far concludere al meglio la trattativa. Offre una valutazione chiara e puntuale seguendo l’andamento del mercato immobiliare e le richieste del cliente, nonché una consulenza professionale in tutte le fasi della compravendita, dall’ incarico fino al rogito notarile, o della locazione, concludendo le operazioni al miglior prezzo di mercato.'
      commercial: 'La Mennuni RE è una delle prime agenzie immobiliari di Roma ad aver offerto un servizio di consulenza a 360 gradi su immobili ad uso commerciale. Assistiamo le aziende a reperire le giuste locations su Roma e su tutto il territorio nazionale. Da sempre soddisfa acquirenti di immobili commerciali a reddito, selezionando gli asset più in linea con la ricerca del cliente, considerando accuratamente: location, fattore di rischio e cap rate.'
      corporate: 'La Mennuni RE si contraddistingue da sempre nel trovare spazi ad uso ufficio per aziende, studi professionali, di consulenza e ambasciate a trovare gli spazi ad uso ufficio di cui avevano bisogno e alle migliori condizioni di mercato. Da anni si occupa della gestione di patrimoni di grandi proprietari immobiliari e fondi d’investimento ed è fiera di aver sempre trovato conduttori di un certo standing, seri ed affidabili.'
  
</i18n>
