<template>
  <div class="page-index">
    <section class="">
      <div class="hero-tournament"></div>
      <div class="wrapper">
        <div
          class="main-content max-w-4xl mx-auto text-center -mt-20 mb-20 bg-white pt-10 shadow-lg"
        >
          <h1>LAVORA CON NOI</h1>
          <div class="flex flex-wrap justify-center">
            <div class="w-1/3">1</div>
            <div class="w-1/3">2</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  computed: {},
  head() {
    return {
      title: 'Careers',
    }
  },
}
</script>

<style scoped lang="scss">
.hero-tournament {
  width: 100%;
  height: 476px;
  background: red;
  // background: url(~assets/img/hero-tournament2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
