<template>
  <div class="-mt-32">
    <div class="wrapper w-full">
      <section class="relative z-0 w-full hero" style="height: 500px">
        <div class="flex flex-col justify-end h-full text-center text-white">
          <div class="w-full h-24 pt-4 font-bold bg-black bg-opacity-50">
            <h1 class="text-4xl uppercase">{{ page.title }}</h1>
          </div>
        </div>
      </section>
    </div>

    <section>
      <div class="wrapper py-16">
        <div class="w-full mx-auto md:w-8/12">
          <nuxt-content :document="page" />
        </div>
      </div>
    </section>
    <div class="wrapper">
      <section class="bg-red-700">
        <div
          class="grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:grid-cols-6 py-16"
        >
          <servizio
            title="Valutazioni gratuite"
            filename="valutazione.svg"
            alt="Valutazioni gratuite"
          ></servizio>
          <servizio
            title="Marketing immobiliare"
            filename="marketing.svg"
            alt="Marketing immobiliare"
          ></servizio>
          <servizio
            title="Documentazione"
            filename="documentazione.svg"
            alt="Documentazione"
          ></servizio>

          <servizio
            title="Consulenza trattative"
            filename="consulenza.svg"
            alt="Consulenza trattative"
          ></servizio>
          <servizio
            title="Contrattualistica"
            filename="contrattualistica.svg"
            alt="Contrattualistica"
          ></servizio>
          <servizio
            title="Ristrutturazioni"
            filename="ristrutturazioni.svg"
            alt="Ristrutturazioni"
          ></servizio>
        </div>
      </section>
    </div>
    <section>
      <contact-hero class="wrapper"></contact-hero>
    </section>
    <section>
      <prefooter-logo class="wrapper"></prefooter-logo>
    </section>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, app }) {
    const page = await $content(app.i18n.locale, 'about-us').fetch()

    return {
      page,
    }
  },
  head() {
    return {
      title: this.page.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.page.description,
        },
      ],
    }
  },
  nuxtI18n: {
    paths: {
      en: '/about-us',
      it: '/chi-siamo',
    },
  },
}
</script>

<style scoped lang="scss">
// * {
//   outline: 1px solid green !important;
// }
.hero {
  background: url('~assets/img/imgChiSiamo.jpg') no-repeat center center;
  background-size: cover;
}

.titolo-linea {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 160px;
    @apply bg-red-mennuni;
  }
}
.titolo-linea-dx {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4px;
    width: 160px;
    @apply bg-red-mennuni;
  }
}

.form-container {
  background: url('~assets/img/hero-form.jpg') no-repeat center center fixed;
  background-size: cover;
  &::after {
    content: '';
    background: url('~assets/img/doppiotriangolo.svg') no-repeat bottom;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: -1px;
    height: 68px;
    width: 101%;
  }
}
</style>
