<template>
  <div class="wrapper">
    <section class="mt-16">
      <div class="relative">
        <div class="lg:absolute lg:inset-0">
          <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
            <img
              class="object-cover w-full h-56 lg:absolute lg:h-full"
              src="https://images.unsplash.com/photo-1556761175-4b46a572b786?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80"
              alt=""
            />
          </div>
        </div>
        <div
          class="relative px-4 pt-12 pb-16 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2"
        >
          <div class="lg:pr-8">
            <div class="max-w-md mx-auto sm:max-w-lg lg:mx-0">
              <h1
                class="text-3xl font-extrabold leading-9 tracking-tight sm:text-4xl sm:leading-10"
              >
                {{ page.title }}
              </h1>
              <p class="mt-4 text-lg leading-7 text-gray-500 sm:mt-3">
                Contattaci per una valutazione gratuita o per richiedere
                qualunque informazione.
              </p>
              <contact-form></contact-form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, app, route }) {
    const page = await $content(app.i18n.locale, 'contacts').fetch()

    return {
      page,
    }
  },
  head() {
    return {
      title: this.page.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.page.description,
        },
      ],
    }
  },
  nuxtI18n: {
    paths: {
      en: '/contacts',
      it: '/contatti',
    },
  },
}
</script>
