<template>
  <div class="-mt-32">
    <section
      class="wrapper relative z-0 w-full pb-20 hero"
      style="height: 770px"
    >
      <div class="flex flex-col justify-end h-full text-center text-white">
        <div class="pt-8">
          <h1 class="text-5xl tracking-tight uppercase">{{ page.title }}</h1>
          <nuxt-content :document="page" />
        </div>
      </div>
    </section>

    <div
      class="wrapper relative flex items-center justify-center w-full h-16 -mt-16 font-bold text-center text-white bg-black bg-opacity-50 hero-bar"
    >
      <nuxt-link to="" class="uppercase">{{ $t('more') }}</nuxt-link>
    </div>

    <section class="wrapper bg-white">
      <div class="flex flex-col-reverse justify-between md:flex-row">
        <div class="w-full bg-center bg-cover boxRes md:w-1/2"></div>
        <div class="flex flex-col justify-between w-full p-12 md:w-1/2">
          <h2
            class="relative pt-0 pb-3 m-0 text-4xl leading-8 tracking-tight titolo-linea text-red-mennuni"
          >
            MENNUNI RESIDENTIAL
          </h2>
          <p class="pt-8 pb-12 text-gray-mennuni-scuro">
            {{ $t('residential') }}
          </p>
          <default-link url="/aree-attivita#residential" />
        </div>
      </div>
      <div class="flex flex-col justify-between md:flex-row">
        <div class="flex flex-col justify-between w-full p-12 md:w-1/2">
          <h2
            class="relative pt-0 pb-3 m-0 text-4xl leading-8 tracking-tight text-right titolo-linea-dx text-red-mennuni"
          >
            MENNUNI COMMERCIAL
          </h2>
          <p class="pt-8 pb-12 text-right text-gray-mennuni-scuro">
            {{ $t('commercial') }}
          </p>
          <default-link class="text-right" url="/aree-attivita#commercial" />
        </div>
        <div class="w-full bg-center bg-cover boxComm md:w-1/2"></div>
      </div>
      <div class="flex flex-col-reverse justify-between bg-white md:flex-row">
        <div class="w-full bg-center bg-cover boxCorp md:w-1/2"></div>
        <div class="flex flex-col justify-between w-full p-12 md:w-1/2">
          <h2
            class="relative pt-0 pb-3 m-0 text-4xl leading-8 tracking-tight titolo-linea text-red-mennuni"
          >
            MENNUNI CORPORATE
          </h2>
          <p class="pt-8 pb-12 text-gray-mennuni-scuro">
            {{ $t('corporate') }}
          </p>
          <default-link url="/aree-attivita#corporate" />
        </div>
      </div>
    </section>
    <section>
      <barra-servizi></barra-servizi>
    </section>
    <section>
      <contact-hero class="wrapper"></contact-hero>
    </section>
    <section>
      <prefooter-logo class="wrapper"></prefooter-logo>
    </section>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, app }) {
    const page = await $content(app.i18n.locale, 'index').fetch()

    return {
      page,
    }
  },
  head() {
    return {
      title: this.page.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.page.description,
        },
      ],
    }
  },
}
</script>

<style scoped lang="scss">
// * {
//   outline: 1px solid green !important;
// }
.hero {
  background: url('~assets/img/hero.jpg') no-repeat center center;
  background-size: cover;
}

.hero-bar {
  @screen md {
    &::before {
      content: '';
      background: url('~assets/img/triangolo.svg') no-repeat bottom;
      background-size: 350px;
      position: absolute;
      top: -107px;
      left: -1px;
      height: 107px;
      // width: 101%; // ?
      width: 100%;
    }
  }
}

.boxRes {
  background: url('/img/imgResidential.jpg') no-repeat;
  height: 368px;
}

.boxComm {
  background: url('/img/imgCommercial.jpg') no-repeat;
  height: 368px;
}

.boxCorp {
  background: url('/img/imgCorporate.jpg') no-repeat;
  height: 368px;
}

.titolo-linea {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 160px;
    @apply bg-red-mennuni;
  }
}
.titolo-linea-dx {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4px;
    width: 160px;
    @apply bg-red-mennuni;
  }
}
</style>

<i18n lang="yaml">
en:
  more: 'Find more'
  residential: 'Always looking to satisfy the most demanding customers to find and sell their home, Mennuni RE, carrys out intermediation between seller and buyer, concluding the deal in the best possible way.'
  commercial: 'Mennuni RE is one of the first real estate agencies in Rome to offer a 360 degree advisory service on commercial properties. We assist companies in finding the right locations in Rome and throughout the national territory.'
  corporate: 'Mennuni RE has always distinguished itself in helping companies, professional firms, consulting firms and Embassies to find the office space they needed and at the best market conditions. '
it:
  more: 'Scopri di più'
  residential: 'Da sempre alla ricerca di soddisfare i clienti più esigenti a
    trovare e vendere la propria casa, la Mennuni RE svolgendo attività
    di intermediazione tra venditore e acquirente cerca di far
    concludere al meglio la trattativa.'
  commercial: 'La Mennuni RE è una delle prime agenzie immobiliari di Roma ad aver offerto un servizio di consulenza a 360 gradi su immobili ad uso commerciale. Assistiamo le aziende a reperire le giuste locations su Roma e su tutto il territorio nazionale.'
  corporate: 'La Mennuni RE si è sempre contraddistinta per aver aiutato aziende, studi professionali, di consulenza e ambasciate a trovare gli spazi ad uso ufficio di cui avevano bisogno e alle migliori condizioni di mercato.'
</i18n>
