<template>
  <div class="-mt-32">
    <div class="wrapper">
      <section class="relative z-0 w-full hero" style="height: 500px">
        <div class="flex flex-col justify-end h-full text-center text-white">
          <div class="w-full h-24 pt-4 font-bold bg-black bg-opacity-50">
            <h1 class="text-4xl uppercase">{{ page.title }}</h1>
          </div>
        </div>
      </section>
    </div>
    <section class="flex pt-16 pb-8 px-12 mx-auto md:max-w-3xl">
      <p class="text-center">{{ $t('services.description') }}</p>
    </section>
    <section>
      <div class="wrapper py-16">
        <div class="w-full mx-auto md:w-8/12" style="max-width: 800px">
          <section class="boxServizio">
            <div class="boxServizio-img">
              <img
                src="~assets/img/servizi-red/valutazione.svg"
                class="w-full px-6"
                alt=""
              />
            </div>
            <div class="boxServizio-text">
              <h2>{{ $t('services.evaluation') }}</h2>
              <p>
                {{ $t('servicestext.evaluation') }}
              </p>
            </div>
          </section>
          <section class="boxServizio">
            <div class="boxServizio-img">
              <img
                src="~assets/img/servizi-red/consulenza.svg"
                class="w-full px-6"
                alt=""
              />
            </div>
            <div class="boxServizio-text">
              <h2>{{ $t('services.consulenza') }}</h2>
              <p>
                {{ $t('servicestext.consulenza') }}
              </p>
            </div>
          </section>
          <section class="boxServizio">
            <div class="boxServizio-img">
              <img
                src="~assets/img/servizi-red/rogito.svg"
                class="w-full px-8"
                alt=""
              />
            </div>
            <div class="boxServizio-text">
              <h2>{{ $t('services.rogito') }}</h2>
              <p>
                {{ $t('servicestext.rogito') }}
              </p>
            </div>
          </section>
          <section class="boxServizio">
            <div class="boxServizio-img">
              <img
                src="~assets/img/servizi-red/documentazione.svg"
                class="w-full px-10"
                alt=""
              />
            </div>
            <div class="boxServizio-text">
              <h2>{{ $t('services.documentation') }}</h2>
              <p>
                {{ $t('servicestext.documentation') }}
              </p>
            </div>
          </section>
          <section class="boxServizio">
            <div class="boxServizio-img">
              <img
                src="~assets/img/servizi-red/registration.svg"
                class="w-full px-8"
                alt=""
              />
            </div>
            <div class="boxServizio-text">
              <h2>{{ $t('services.contrattualistica') }}</h2>
              <p>
                {{ $t('servicestext.contrattualistica') }}
              </p>
            </div>
          </section>
          <section class="boxServizio">
            <div class="boxServizio-img">
              <img
                src="~assets/img/servizi-red/marketing.svg"
                class="w-full px-8"
                alt=""
              />
            </div>
            <div class="boxServizio-text">
              <h2>{{ $t('services.marketing') }}</h2>
              <p>
                {{ $t('servicestext.marketing') }}
              </p>
            </div>
          </section>
          <section class="boxServizio">
            <div class="boxServizio-img">
              <img
                src="~assets/img/servizi-red/ape.svg"
                class="w-full px-8"
                alt=""
              />
            </div>
            <div class="boxServizio-text">
              <h2>APE</h2>
              <p>
                {{ $t('servicestext.ape') }}
              </p>
            </div>
          </section>
          <section class="boxServizio">
            <div class="boxServizio-img">
              <img
                src="~assets/img/servizi-red/mutui.svg"
                class="w-full px-8"
                alt=""
              />
            </div>
            <div class="boxServizio-text">
              <h2>{{ $t('services.mutui') }}</h2>

              <p>
                {{ $t('servicestext.mutui') }}
              </p>
            </div>
          </section>
          <section class="boxServizio">
            <div class="boxServizio-img">
              <img
                src="~assets/img/servizi-red/planimetria.svg"
                class="w-full px-10"
                alt=""
              />
            </div>
            <div class="boxServizio-text">
              <h2>{{ $t('services.visure') }}</h2>

              <p>
                {{ $t('servicestext.visure') }}
              </p>
            </div>
          </section>
          <section class="boxServizio">
            <div class="boxServizio-img">
              <img
                src="~assets/img/servizi-red/ristrutturazioni.svg"
                class="w-full px-8"
                alt=""
              />
            </div>
            <div class="boxServizio-text">
              <h2>{{ $t('services.ristrutturazioni') }}</h2>

              <p>
                {{ $t('servicestext.ristrutturazioni') }}
              </p>
            </div>
          </section>
        </div>
      </div>
    </section>

    <section>
      <contact-hero class="wrapper"></contact-hero>
    </section>
    <section>
      <prefooter-logo class="wrapper"></prefooter-logo>
    </section>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, app }) {
    const page = await $content(app.i18n.locale, 'services').fetch()

    return {
      page,
    }
  },
  head() {
    return {
      title: this.page.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.page.description,
        },
      ],
    }
  },
  nuxtI18n: {
    paths: {
      en: '/services',
      it: '/servizi',
    },
  },
}
</script>

<style scoped lang="scss">
// * {
//   outline: 1px solid green !important;
// }
.hero {
  background: url('~assets/img/imgCorporate02.jpg') no-repeat center center;
  background-size: cover;
}

.titolo-linea {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 160px;
    @apply bg-red-mennuni;
  }
}
.titolo-linea-dx {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4px;
    width: 160px;
    @apply bg-red-mennuni;
  }
}

//sezione servizi

.boxServizio {
  @apply flex flex-col items-center justify-center py-8 mx-auto;
  &-img {
    @apply w-4/12 mx-auto;
  }
  &-text {
    @apply w-full text-center;
  }
}

@screen sm {
  .boxServizio {
    @apply flex flex-col items-center justify-center pb-8 mx-auto;
    &-img {
      @apply w-3/12;
    }
    &-text {
      @apply w-full;
    }
  }
}

@screen md {
  .boxServizio {
    @apply flex flex-row justify-between pb-8 w-full;
    &-img {
      @apply w-2/12 mx-0;
    }
    &-text {
      @apply w-10/12 text-left;
    }
  }
}

// fine sezione servizi
.form-container {
  background: url('~assets/img/hero-form.jpg') no-repeat center center fixed;
  background-size: cover;
  &::after {
    content: '';
    background: url('~assets/img/doppiotriangolo.svg') no-repeat bottom;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: -1px;
    height: 68px;
    width: 101%;
  }
}
</style>

<i18n lang="yaml">
en:
  services:
    description:
      'Since 1983 we have been offering a 360 degree advisory service in the
      real estate field and making it possible to find the best solutions for
      problems of purchase, sale, optimization, enhancement and management of
      assets. Here are some of our services:'
    evaluation: 'Free evaluations without obligation'
    consulenza: 'Purchase and sale negotiation consultancy'
    rogito: 'Assistance up to the notarial deed'
    documentation: 'Drafting of lease agreements'
    contrattualistica: 'Registration of leases'
    marketing: 'Real estate marketing'
    mutui: 'Mortgages'
    visure: 'Surveys and cadastral plans'
    ristrutturazioni: 'Renovations'
  servicestext:
    evaluation: 'Clear and timely evaluation following the trend of the real estate market and costumer requests.'
    consulenza: 'Advisory in all the phase of the negotiations, concluding the deal in the best possible way'
    rogito: 'We offer our services even after the commission, assisting the costumer until the deed.'
    documentation: 'Through our legal department we prepare the lease agreement for both residential and commercial use, based on the needs of customers.'
    contrattualistica: 'Registration of contracts at the italian revenue agency “ Agenzia dell’Entrate'
    marketing: 'We prepare the perfect marketing plan to commercialize the property in the most efficient way. We are present in the best real estate platforms and social media.'
    ape: 'We release energy performance certificate, indispensable both for sales and rental contracts.'
    mutui: 'We offer an updated information, on the best mortgage conditions on the market.'
    visure: 'We find, through our specialists, all the property documents needed for costumers to conclude the deal'
    ristrutturazioni: 'We make in contact costumers with our designers and our renovation teams.'
it:
  services:
    description: 'Dal 1983 offriamo il nostro servizio di consulenza nel settore
      immobiliare per affrontarlo a 360 gradi e trovare la migliore soluzione
      a problemi di acquisto, vendita, ottimizzazione, valorizzazione e
      gestione del patrimonio. Ecco alcuni dei nostri servizi:'
    evaluation: 'Valutazioni gratuite senza impegno'
    consulenza: 'Consulenza trattative acquisto e vendita'
    rogito: 'Assistenza fino al rogito notarile'
    documentation: 'Redazione contratti di locazione'
    contrattualistica: 'Registrazione contratti di locazione'
    marketing: 'Marketing immobiliare'
    mutui: 'Mutui'
    visure: 'Visure e planimetrie catastali'
    ristrutturazioni: 'Ristrutturazioni'
  servicestext:
    evaluation: 'Valutazione chiara e puntuale considerando le condizioni attuali di mercato e le esigenze del cliente.'
    consulenza: 'Consulenza a 360 gradi nelle trattative, permettendo a venditore e acquirente di concludere l’affare alle migliori condizioni.'
    rogito: 'Offriamo i nostri servizi anche oltre alla provvigione, assistendo il cliente fino al rogito.'
    documentation: 'Attraverso il nostro ufficio legale predisponiamo il contratto di locazione sia ad uso abitativo che ad uso commerciale, in base alle esigenze dei clienti.'
    ristrutturazioni: 'Mettiamo in contatto la clientela con i nostri progettisti e squadre di ristrutturazione.'
    mutui: 'Offriamo una informativa sempre aggiornata sulle migliori condizioni presenti sul mercato.'
    visure: 'Reperiamo, attraverso i nostri tecnici, tutta la documentazione degli immobili necessaria ai clienti o alla conclusione dell’affare.'
    ape: 'Rilasciamo lo attestato di prestazione energetica, necessario sia per la compravendita che per il contratto di locazione.'
    contrattualistica: 'Registrazione contratti presso la Agenzia delle Entrate.'
    marketing: 'Predisponiamo piani di marketing efficienti al fine di poter commercializzare al meglio lo immobile, sia sui più importanti portali immobiliari, sia a livello cartaceo che sui social media.'
</i18n>
