<template>
  <div class="page-index">
    <section class="">
      <div class="hero-tournament"></div>
      <div
        class="main-content p-12 max-w-4xl mx-auto -mt-20 mb-20 bg-white pt-10 shadow-lg"
      >
        <h1>CAMPAGNE DI SOCIAL MEDIA MARKETING</h1>
        <p>
          I social sono oggi un luogo privilegiato di incontro, hanno sostituito
          le vecchie piazze e sono diventati lo strumento più innovativo per
          coinvolgere nuovi clienti, interagire col pubblico e consolidarne i
          rapporti. <br />
          Al di là delle convinzioni, l’attività del social media manager non
          s’improvvisa e nasconde un mondo fatto di studio e analisi che
          purtroppo, oggi ancora in molti ignorano.<br />
          Piani editoriali, annunci, concorsi, consulenza e campagne, sono solo
          alcune delle attività messe in essere dai professionisti del campo. Il
          nostro scopo è portarti dentro questo mondo e aiutarti a capire le sue
          logiche, interagire con il tuo pubblico e dialogare con esso.<br />
          I Social Media oggi sono una fonte di opportunità utile per comunicare
          il tuo brand, per capire cosa il tuo pubblico si aspetta da te e come
          puoi agire per migliorarti.<br /><br />

          Negli ultimi anni, i Social Media hanno modificato radicalmente molti
          aspetti della comunicazione aziendale. I principali Social Newtork
          consentono una migliore interazione tra l’azienda e il fruitore ultimo
          di un determinato prodotto o servizio. <br />
          Ma i vantaggi principali di questi strumenti consistono nella velocità
          di diffusione del messaggio e, soprattutto, nel particolare
          coinvolgimento della rete di clienti: è dimostrato infatti che un
          utente medio tende a fidarsi maggiormente, e quindi a usufruire di un
          servizio, se questo è veicolato da un conoscente o da una personalità
          d’influenza sul web.<br /><br />

          Il servizio che offriamo comprende:
          <li>
            CREAZIONE Unicità grafica e testuale: creiamo profili ad hoc, con
            immagini e contenuti specifici dell’azienda, in modo da
            contestualizzare e rafforzare il prodotto.
          </li>
          <li>
            PERSONALIZZAZIONE Valutiamo quali canali siano più adatti al tipo di
            servizio offerto e generiamo delle pagine diversificate a seconda
            del mezzo.
          </li>
          <li>
            DIFFUSIONE Ci serviamo di specifici strumenti di advertising per
            promuovere il servizio e creare un meccanismo di “passaparola” tra
            gli utenti.
          </li>
          <li>
            INTEGRAZIONE CON SITO Forniamo alle aziende gli strumenti per
            diffondere la presenza social anche sui canali tradizionali e
            istituzionali.
          </li>
          <li>
            GESTIONE DEI PROFILI Produzione costante: gestiamo quotidianamente
            le pagine sociali, tenendo conto dei momenti di massima attenzione
            degli utenti senza alcuna invadenza.
          </li>
          <li>
            PRESENZA E CUSTOMER CARE Rispondiamo rapidamente a eventuali domande
            o lamentele, garantendo sempre la credibilità del prodotto e
            dell’azienda su internet.
          </li>
          <li>
            MONITORAGGIO Analisi delle statistiche: attraverso strumenti interni
            ed esterni alle diverse piattaforme, valutiamo e studiamo i
            risultati delle campagne.
          </li>
          <li>
            REPORTISTICA E VERIFICA Teniamo conto dell’andamento globale del
            profilo, modificando in itinere eventuali strategie.
          </li>
        </p>
      </div>
    </section>
  </div>
</template>

<script>
// import content from '~/src/it/servizi/content.md'
export default {
  computed: {
    // content() {
    //   return content
    // }
  },
  head() {
    return {
      title: 'Chi siamo',
    }
  },
}
</script>

<style scoped lang="scss">
.hero-tournament {
  width: 100%;
  height: 476px;
  // background: red;
  background: url(~assets/img/bkg-chisiamo.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
