<template>
  <div class="page-index">
    <section class="">
      <div class="hero-tournament"></div>
      <div
        class="main-content p-12 max-w-4xl mx-auto -mt-20 mb-20 bg-white pt-10 shadow-lg"
      >
        <h1>CAMPAGNE DI WEB MARKETING</h1>
        <p>
          Il Web Marketing è un insieme di attività utilizzate con lo scopo di
          rendere visibile un Brand, un prodotto o un servizio. Il web marketing
          può essere implementato grazie all’utilizzo di motori di ricerca,
          social o blog, portali video e media oppure attraverso l’utilizzo di
          email. Basta pensare che ogni giorno su Google vengono effettuate
          miliardi di ricerche e una buona attività di web marketing legata al
          vostro sito web potrebbe aumentare utenze e traffico. Mgquadro vi
          permetterà di raggiungere l’obiettivo ottimizzando i costi e
          convertendo questi ultimi in risultati. <br />
          Il Web Marketing sfrutta numerosi strumenti e tecniche per accrescere
          e rafforzare la presenza online di un’azienda. <br />
          Attraverso il SEO (Search Engine Optimization) è possibile migliorare
          il posizionamento strategico del sito web, lavorando su quelle parole
          chiave che identificano perfettamente l’azienda e i suoi prodotti e/o
          servizi. All’attività di posizionamento può essere affiancata quella
          di promozione, la SEM (Search Engine Marketing): Facebook Ads e Google
          Ads sono oggi gli strumenti più utilizzati per ottenere il massimo
          ritorno sull’investimento, aumentare le vendite e promuovere prodotti
          o servizi online attraverso campagne a pagamento. <br />

          Da non sottovalutare sono le campagne DEM, ovvero Direct Email
          Marketing, che diffondono contenuti utili e sono dirette solo ai
          clienti e potenziali clienti in modo continuo e costante nel tempo con
          lo scopo di fidelizzarli. <br />

          La diffusione di contenuti utili e la raccolta di nuovi contatti viene
          realizzata anche attraverso il Social Media Marketing, che sfrutta i
          diversi profili social dell’azienda (Facebook, Twitter, Linkedin)
          oppure gestendo un Blog aziendale: l’obiettivo è la diffusione virale
          di contenuti di qualità per fare in modo che gli utenti in target
          ricordino l’azienda e la percepiscano come la MIGLIORE. <br />

          La scelta degli strumenti così come la valutazione delle azioni che
          dovrebbero essere intraprese per migliorare la presenza online
          dell’azienda non possono essere eseguite senza aver prima effettuato
          un’analisi strategica di Web Marketing. <br />
          Una campagna di pay per clic è fondamentale per creare una visibilità
          immediata del brand sui motori di ricerca, mentre si attendono i
          risultati della ricerca organica, che spesso hanno bisogno di mesi per
          crescere. Abbiamo maturato una solida conoscenza delle campagne
          AdWords di Google (pay-per-clic), al punto da raggiungere l'obiettivo
          di diventare Google AdWords Partner. <br />
          I vantaggi di una campagna di web marketing <br />
          Sapere dove, quando e quanto spendere nella pubblicità online è molto
          importante. Noi di MGquadro ci impegniamo affinché il traffico
          indirizzato sul vostro sito, risulti pertinente al fine di trasformare
          semplici visite in "conversioni" , ossia nell'acquisto di un prodotto
          o servizio. Il vantaggio ulteriore del pay-per-clic è che costituisce
          una piattaforma ideale per effettuare test. È infatti in grado di
          fornire una valutazione delle parole chiave in termini di efficacia:
          le parole maggiormente "performanti" possono essere inserite
          all'interno di un piano di indicizzazione di lunga durata. Monitoriamo
          costantemente le prestazioni della tua campagna su Google e, grazie
          alla nostra esperienza, siamo in grado di impostare strategie ogni
          volta diverse che garantiscono un ritorno sull'investimento
          significativo. <br />
          Google AdWords è oggi lo strumento di Keyword Advertising più
          utilizzato al mondo. <br />
          Una campagna di web marketing effettuata con Google AdWords è: <br />
          EFFICACE <br />
          Raggiunge un pubblico già interessato perché sta già cercando su
          internet i vostri prodotti e/o servizi.
          <br />
          <br />
          FLESSIBILE <br />
          Le nostre campagne AdWords sono adatte a promuovere qualsiasi tipo di
          business imprenditoriale, dalla start up all’azienda già consolidata.
          <br />
          <br />

          VELOCE <br />
          La campagna pay-per-clic è attiva in tempi brevissimi ed i risultati
          sono immediati. <br />
          <br />
          PERSONALIZZABILE <br />
          Possiamo indirizzare i vostri annunci a target di clientela
          predefiniti anche per area geografica, indirizzati sulla vostra città
          o estesi in ambito regionale.
        </p>
      </div>
    </section>
  </div>
</template>

<script>
// import content from '~/src/it/servizi/content.md'
export default {
  computed: {
    // content() {
    //   return content
    // }
  },
  head() {
    return {
      title: 'Chi siamo',
    }
  },
}
</script>

<style scoped lang="scss">
.hero-tournament {
  width: 100%;
  height: 476px;
  // background: red;
  background: url(~assets/img/bkg-chisiamo.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
