<template>
  <vue-modal
    :name="name"
    adaptive
    class="vue-modal"
    @before-close="$emit('before-close')"
  >
    <div class="w-full h-full flex flex-col items-center justify-between p-8">
      <slot name="title">
        <h1 class="uppercase">
          {{ title }}
        </h1>
      </slot>

      <slot></slot>

      <div class="w-full flex justify-center">
        <slot name="buttons" :hide="hide">
          <default-button class="uppercase" @click="hide">
            {{ buttonLabel }}
          </default-button>
        </slot>
      </div>
    </div>
  </vue-modal>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: 'default',
    },
    title: {
      type: String,
      default: '',
    },
    buttonLabel: {
      type: String,
      default: 'Ok',
    },
  },
  methods: {
    hide() {
      this.$modal.hide(this.name)
    },
  },
}
</script>

<style lang="scss" scoped>
.vue-modal {
  background: rgba(35, 53, 109, 0.75);
  backdrop-filter: blur(5px);
}
</style>
