<template>
  <ol class="flex justify-center text-primary">
    <li class="">
      <nuxt-link :to="localePath('index')" exact active-class="active">
        Home
      </nuxt-link>
    </li>
    <li v-for="item in list" :key="item.name" class="">
      &nbsp;/&nbsp;
      <nuxt-link :to="localePath(item)">
        {{ item.title }}
      </nuxt-link>
    </li>
    &nbsp;/&nbsp;
    <span class="font-bold">
      {{ actual }}
    </span>
  </ol>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      default: () => [],
    },
    actual: {
      type: String,
      default: '',
    },
  },
}
</script>
