<template>
  <div>
    <ul
      class="flex flex-col md:flex-row items-center justify-end flex-grow w-full h-full"
    >
      <li>
        <nuxt-link :to="localePath('/')"> Home </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="localePath('chi-siamo')">
          {{ $t('chisiamo') }}
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="localePath('servizi')"> {{ $t('servizi') }} </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="localePath('aree-attivita')">
          {{ $t('areeattivita') }}
        </nuxt-link>
      </li>
      <li>
        <a
          href="https://www.immobiliare.it/agenzie-immobiliari/8712/mennuni/"
          target="_blank"
          class="flex items-center justify-center w-full h-full px-8 py-2 font-bold uppercase text-white"
          >{{ $t('listaimmobili') }}
          <!-- <img
            src="~assets/img/icons/external-link.svg"
            class="ml-2 w-4 pb-1 text-white"
            alt=""
        />-->
        </a>
      </li>
      <li>
        <nuxt-link :to="localePath('contatti')">
          {{ $t('contatti') }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      subMenu: '',
    }
  },
  computed: {
    menu() {
      return this.$store.state.menu
    },
    showSubmenu() {
      return (page) => this.subMenu === page.name
    },
  },
}
</script>

<style scoped lang="scss">
ul {
  li {
    @apply flex items-center justify-center h-full text-base text-center;
  }
  a {
    @apply flex items-center justify-center w-full h-full px-8 py-1 font-bold uppercase text-sm;
  }
}
.submenu {
  top: 100%;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease-in-out;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>

<i18n lang="yaml">
en:
  listaimmobili: 'Lista immobili'
  chisiamo: 'About us'
  servizi: 'Services'
  areeattivita: 'Expertise'
  contatti: 'Contacts'
it:
  listaimmobili: 'Properties'
  chisiamo: 'Chi siamo'
  servizi: 'Servizi'
  areeattivita: 'Aree Attività'
  contatti: 'Contatti'
</i18n>
