<template>
  <ul class="flex flex-col uppercase items-center">
    <li class="h-full">
      Informazioni
      <ul class="flex flex-col">
        <li><a href="tel:0039123456789">+39 123456789</a></li>
        <li>
          <a href="mailto:mgquadro@mgquadro.com">mgquadro@mgquadro.com</a>
        </li>
      </ul>
    </li>
    <li class="h-full pt-6">
      Privacy Policy
      <ul class="flex flex-col">
        <li>
          <a href="#" target="_blank" rel="noreferrer">
            Informativa Generale
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noreferrer"> Cookie Policy </a>
        </li>
      </ul>
    </li>
  </ul>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
ul li {
  ul li {
    @apply normal-case italic text-sm;
  }
}
</style>
