<template>
  <transition :css="false" @enter="enter" @leave="leave">
    <div
      v-if="show"
      class="fixed inset-0 flex flex-col items-center justify-start h-full"
    >
      <translations-menu class="h-20 py-1"></translations-menu>

      <div class="flex flex-col items-center justify-center h-20">
        <socials-menu class="text-white"></socials-menu>
      </div>

      <ul class="">
        <li>
          <nuxt-link :to="localePath('/')"> Home </nuxt-link>
        </li>
        <li>
          <nuxt-link :to="localePath('chi-siamo')">
            {{ $t('chisiamo') }}
          </nuxt-link>
        </li>
        <li>
          <nuxt-link :to="localePath('servizi')">
            {{ $t('servizi') }}
          </nuxt-link>
        </li>
        <li>
          <nuxt-link :to="localePath('aree-attivita')">
            {{ $t('areeattivita') }}
          </nuxt-link>
        </li>
        <li class="">
          <a
            href="https://www.immobiliare.it/agenzie-immobiliari/8712/mennuni/"
            target="_blank"
            class="flex items-center justify-center w-full h-full px-8 py-2 font-bold uppercase"
            >{{ $t('listaimmobili') }}
            <!-- <img
              src="~assets/img/icons/external-link.svg"
              class="ml-2 w-4 pb-1"
              alt=""
          />-->
          </a>
        </li>
        <li>
          <nuxt-link :to="localePath('contatti')">
            {{ $t('contatti') }}
          </nuxt-link>
        </li>
      </ul>
      <slot></slot>

      <!-- <ul class="flex flex-col items-center justify-center flex-grow py-8">
        <li
          v-for="page in menu"
          :key="page.name"
          class="flex-col items-center justify-center w-full font-bold text-center text-white cursor-pointer"
        >
          <a
            v-if="page.pages"
            class="flex justify-center w-full my-2 text-xl text-center"
            @click="toggleSubmenu(page.name)"
          >
            {{ page.menuTitle || page.title }}
          </a>
          <nuxt-link
            v-else
            :to="localePath(page)"
            class="flex justify-center w-full my-2 text-xl text-center"
          >
            {{ page.menuTitle || page.title }}
          </nuxt-link>
          <transition
            :css="false"
            @before-enter="beforeEnterSubmenu"
            @enter="enterSubmenu"
            @leave="leaveSubmenu"
          >
            <ul
              v-if="page.pages && showSubmenu(page.name)"
              class="flex flex-col items-center"
            >
              <li
                v-for="subpage in page.pages"
                :key="subpage.name"
                class="flex items-center justify-center w-full font-bold text-center text-white cursor-pointer"
              >
                <nuxt-link
                  :to="localePath(subpage)"
                  class="flex justify-center w-full my-2 text-lg leading-normal text-center"
                >
                  {{ subpage.title }}
                </nuxt-link>
              </li>
            </ul>
          </transition>
        </li>
        <slot></slot>
      </ul> -->
    </div>
  </transition>
</template>

<script>
import { gsap } from 'gsap'

export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      submenu: '',
    }
  },

  computed: {
    menu() {
      return this.$store.state.menu
    },
    showSubmenu() {
      return (pageName) => this.submenu === pageName
    },
  },
  methods: {
    enter(el, done) {
      gsap.fromTo(
        el,
        {
          // x: '+100%'
          opacity: 0,
        },
        {
          duration: 0.5,
          clearProps: 'all',
          // x: '0%',
          opacity: 1,
          ease: 'expo.inOut',
        }
      )
      done()
    },
    leave(el, done) {
      gsap.to(el, {
        duration: 0.5,
        opacity: 0,
        // x: '+100%',
        ease: 'expo.inOut',
        onComplete: () => {
          done()
        },
      })
    },
    toggleSubmenu(pageName) {
      this.submenu = this.submenu === pageName ? '' : pageName
    },
    beforeEnterSubmenu(el) {
      gsap.set(el.children, {
        y: '-100%',
        autoAlpha: 0,
        height: 0,
        display: 'flex',
        alignItems: 'center',
      })
    },
    enterSubmenu(el, done) {
      gsap.to(el.children, {
        duration: 0.25,
        y: '0%',
        height: 'auto',
        autoAlpha: 1,
        clearProps: 'all',
        ease: 'back.out',
        stagger: {
          each: 0.05,
          from: 'end',
        },
      })
      done()
    },
    leaveSubmenu(el, done) {
      gsap.to(el.children, {
        duration: 0.25,
        y: '-100%',
        height: 0,
        autoAlpha: 0,
        ease: 'back.in',
        stagger: {
          each: 0.05,
          from: 'start',
        },
        onComplete: () => done(),
      })
    },
  },
}
</script>

<style scoped lang="scss">
ul {
  @apply flex flex-col items-center justify-start w-full h-full mt-12;
  li {
    @apply flex items-center justify-center text-base text-center;
  }
  a {
    @apply flex items-center justify-center w-full h-full px-8 py-1 font-bold uppercase text-sm;
  }
}
</style>

<i18n lang="yaml">
en:
  listaimmobili: 'Properties'
  chisiamo: 'About us'
  servizi: 'Services'
  areeattivita: 'Expertise'
  contatti: 'Contacts'
it:
  listaimmobili: 'Lista immobili'
  chisiamo: 'Chi siamo'
  servizi: 'Servizi'
  areeattivita: 'Aree Attività'
  contatti: 'Contatti'
</i18n>
