<template>
  <div class="flex items-center justify-start w-16 space-x-1">
    <a
      href="https://www.facebook.com/mennunirealestate/"
      target="_blank"
      rel="noreferrer"
      alt="Facebook"
      class="w-6 fill-current"
      v-html="require('~/assets/img/icons/facebook.svg?include')"
    >
    </a>
    <a
      href="https://www.instagram.com/mennuni.re/"
      target="_blank"
      rel="noreferrer"
      cal="linkedin"
      class="w-6 fill-current"
      v-html="require('~/assets/img/icons/instagram.svg?include')"
    >
    </a>
    <a
      href="https://www.linkedin.com/company/mennuni-real-estate/"
      target="_blank"
      rel="noreferrer"
      cal="linkedin"
      class="w-6 fill-current"
      v-html="require('~/assets/img/icons/linkedin.svg?include')"
    >
    </a>
  </div>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
a {
  transition: transform 0.2s; /* Animation */
  &:hover {
    transform: scale(1.2);
  }
}
</style>
