<template>
  <div class="flex items-center justify-center">
    <nuxt-link :to="switchLocalePath('it')" class="mx-1 switch-locale" exact>
      ITA
    </nuxt-link>
    |
    <nuxt-link :to="switchLocalePath('en')" class="mx-1 switch-locale" exact>
      ENG
    </nuxt-link>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.switch-locale.nuxt-link-active {
  @apply font-bold;
}
</style>
