<template>
  <div
    class="relative flex flex-col pt-8 pb-24 form-container md:flex-row md:py-24"
  >
    <div class="w-full pl-8 text-white md:w-1/2 md:pl-24">
      <h3 class="text-4xl md:text-5xl">{{ $t('contact') }}</h3>
      <p class="text-white">MENNUNI REAL ESTATE</p>
      <ul>
        <li class="flex py-4">
          <img class="w-8 mr-2" src="~/assets/img/icons/location.svg" alt="" />
          <span>Via Eleonora Duse, 5 G - 00197 Roma </span>
        </li>
        <li class="flex py-4">
          <img class="w-6 mr-4" src="~/assets/img/icons/phone.svg" alt="" />
          <span><a href="tel:0039063236133">Tel. (+39) 06 32 36 133</a> </span>
        </li>
        <!-- <li class="flex py-4">
          <img class="w-6 mr-4" src="~/assets/img/icons/phone.svg" alt="" />
          <span
            ><a href="tel:00393382403676">Mob. (+39) 338 24 03 676</a>
          </span>
        </li> -->
        <li class="flex py-4">
          <img class="w-6 mr-4" src="~/assets/img/icons/mail.svg" alt="" />
          <span
            ><a href="mailto:info@mennunirealestate.com"
              >info@mennunirealestate.com</a
            >
          </span>
        </li>
      </ul>
    </div>
    <div class="w-full px-8 md:w-1/2 md:pr-24">
      <contact-form></contact-form>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
.form-container {
  background: url('~assets/img/hero-form.jpg') no-repeat center center fixed;
  background-size: cover;
}
</style>

<i18n lang="yaml">
en:
  contact: 'Contact Us'
it:
  contact: 'Contattaci'
</i18n>
