<template>
  <div>
    <vue-form
      ref="form"
      :state="formstate"
      class="row"
      @submit.prevent="onSubmit"
    >
      <div class="col-12">
        <slot name="header"></slot>
      </div>
      <validate class="col-12 sm:col-6">
        <text-field
          v-model="model.name"
          type="text"
          name="nome"
          :label="$t('form.name')"
          :placeholder="$t('form.name')"
          required
        ></text-field>
      </validate>
      <validate class="col-12 sm:col-6">
        <text-field
          v-model="model.surname"
          type="text"
          name="cognome"
          :label="$t('form.surname')"
          :placeholder="$t('form.surname')"
          required
        ></text-field>
      </validate>
      <validate class="col-12 sm:col-6">
        <text-field
          v-model="model.email"
          type="email"
          name="email"
          label="Email"
          placeholder="Email"
          required
        ></text-field>
      </validate>
      <validate class="col-12 sm:col-6">
        <text-field
          v-model="model.telephone"
          type="text"
          name="telefono"
          :label="$t('form.phone')"
          :placeholder="$t('form.phone')"
          required
        ></text-field>
      </validate>
      <validate tag="div" class="col-12">
        <textarea-field
          v-model="model.message"
          name="messaggio"
          :label="$t('form.message')"
          :placeholder="$t('form.message')"
        ></textarea-field>
      </validate>
      <validate class="col-10 font-normal text-white">
        <checkbox-field v-model="model.privacy" name="privacy" required>
          Accetto l'<a class="underline" href="privacy" target="_blank">
            Informativa sulla privacy
          </a>
        </checkbox-field>
      </validate>
      <!-- <div class="col-12 text-sm">
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy" class="underline">
          Privacy Policy
        </a>
        and
        <a href="https://policies.google.com/terms" class="underline">
          Terms of Service
        </a>
        apply.
      </div> -->
      <div class="col-12 flex items-center justify-start pt-2">
        <submit-button name="invia">{{ $t('form.send') }}</submit-button>
      </div>
    </vue-form>
    <modal name="success" title="Messaggio inviato">
      Grazie per averci contattato. Il nostro staff le risponderà prima
      possibile.
    </modal>
    <modal name="error" title="Error">
      <!-- {{ error }} -->
    </modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sitekey: process.env.RECAPTCHA_PUBLIC,
      formstate: {},
      state: 0,
      loading: null,
      model: {
        name: '',
        surname: '',
        email: '',
        message: '',
        privacy: null,
      },
      error: 'Error',
    }
  },
  methods: {
    onSubmit() {
      if (this.formstate.$invalid) {
        return
      }
      this.loading = this.$loading.show()

      // await this.$recaptchaLoaded()
      // this.$recaptcha('login').then((token) => {
      // const formData = new FormData(this.$refs.form.$el)
      // formData.append('token', token)
      // })

      this.$axios
        .post('/api/contact', this.model)
        .then((response) => {
          // console.log(response)
          this.$modal.show('success')
          // this.formstate._reset()
          // this.model = {
          //   name: '',
          //   surname: '',
          //   email: '',
          //   phone: '',
          //   message: ''
          // }
          // this.state = 1
        })
        .catch((error) => {
          // console.log(error.response.data)
          this.error = error.response.data.message
          this.$modal.show('error')
          // this.state = -1
        })
        .finally(() => {
          this.loading.hide()
        })
    },
  },
}
</script>

<i18n lang="yaml">
en:
  form:
    name: 'Name'
    surname: 'Surname'
    phone: 'Phone'
    message: 'Message'
    send: 'Send message'
it:
  form:
    name: 'Nome'
    surname: 'Cognome'
    phone: 'Telefono'
    message: 'Messaggio'
    send: 'Invia messaggio'
</i18n>
